BODY {
	WORD-BREAK: normal; WORD-WRAP: break-word
}
TABLE {
	WORD-BREAK: normal; WORD-WRAP: break-word
}
TD {
	WORD-BREAK: normal; WORD-WRAP: break-word
}
DIV {
	WORD-BREAK: normal; WORD-WRAP: break-word
}
P {
	WORD-BREAK: normal; WORD-WRAP: break-word
}
.win {
	WORD-BREAK: normal; WORD-WRAP: break-word
}
.column {
	WORD-BREAK: normal; WORD-WRAP: break-word
}
TD {
	OVERFLOW: hidden
}
TH {
	OVERFLOW: hidden
}
HR {
	HEIGHT: 1px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	FONT: 13px Arial
}
SELECT {
	FONT: 13px Arial
}
TEXTAREA {
	FONT: 13px Arial
}
P {
	MARGIN-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(../images/homeul.gif); PADDING-BOTTOM: 0px; MARGIN: 4px 0px 4px 15px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL UL {
	MARGIN-LEFT: 40px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	MARGIN: 15px 0px 10px; FONT: 2em/180% arial
}
H1.guide {
	FONT-SIZE: 20px; MARGIN-BOTTOM: 10px; COLOR: #002858
}
H2 {
	FONT: 1.5em/180% arial
}
H3 {
	FONT: 1.4em/180% arial
}
.l {
	FONT-SIZE: 1.7em
}
.m {
	FONT-SIZE: 1.3em
}
.s {
	FONT: 0.85em verdana
}
.fail {
	BACKGROUND: #ffaaff
}
.remark {
	FONT: 0.85em verdana; COLOR: #aaa
}
.alert {
	COLOR: #f60
}
.limit {
	FONT: 0.85em verdana; COLOR: #900
}
.keywords {
	FONT-WEIGHT: bold
}
.notice {
	COLOR: #900
}
.date {
	FONT-WEIGHT: normal; FONT-SIZE: 0.8em! important; COLOR: #666; LINE-HEIGHT: 1.4em; FONT-FAMILY: verdana; WHITE-SPACE: nowrap
}
.break {
	OVERFLOW: hidden; WIDTH: 550px; WORD-BREAK: normal; WORD-WRAP: break-word
}
.widthfixed {
	TABLE-LAYOUT: fixed; WORD-BREAK: normal; WORD-WRAP: break-word
}
A.more {
	PADDING-LEFT: 8px; BACKGROUND: url(../images/icon_arrow.gif) no-repeat left 50%
}
.ellipsis {
	TEXT-OVERFLOW: ellipsis
}
.cursorOver {
	BACKGROUND-COLOR: #e8edf2
}
.cursorMove {
	CURSOR: move; BACKGROUND-COLOR: #cedbe5
}
IMG.sampleborder {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.column {
	FLOAT: left
}
.one2 {
	WIDTH: 50%
}
.one3 {
	WIDTH: 33.3%
}
.one4 {
	WIDTH: 25%
}
.one5 {
	WIDTH: 20%
}
.one6 {
	WIDTH: 16.6%
}
.board {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px; MARGIN-BOTTOM: 25px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.board H3 {
	FONT-WEIGHT: bold
}
INPUT.L {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 3px; FONT: bold 14px arial; PADDING-TOP: 3px
}
INPUT.M {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 1px; FONT: bold 14px arial; PADDING-TOP: 2px
}
INPUT.S {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 1px; FONT: bold 0.85em verdana; PADDING-TOP: 2px
}
INPUT.buttonSkinA {
	BORDER-RIGHT: #006699 1px solid; BORDER-TOP: #006699 1px solid; BACKGROUND: url(../images/buttonSkinAL.gif) #feeeb1 repeat-x 50% bottom; BORDER-LEFT: #006699 1px solid; COLOR: #5e2708; BORDER-BOTTOM: #006699 1px solid
}
INPUT.buttonSkinB {
	BORDER-RIGHT: #848484 1px solid; BORDER-TOP: #c4c4c4 1px solid; BACKGROUND: url(../images/buttonSkinBL.gif) #f3f3f3 repeat-x 50% bottom; BORDER-LEFT: #c4c4c4 1px solid; COLOR: #414141; BORDER-BOTTOM: #848484 1px solid
}
.win {
	CLEAR: both; MARGIN-BOTTOM: 11px
}
.win H3 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; FONT: bold 1.1em tahoma; MARGIN-LEFT: 2px; PADDING-TOP: 5px
}
.win H4 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px -12px; COLOR: #888; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px dotted
}
.win .box {
	PADDING-RIGHT: 11px; PADDING-LEFT: 11px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.win .box .promot {
	PADDING-RIGHT: 12px; BORDER-TOP: #dae4f0 1px solid; PADDING-LEFT: 12px; PADDING-BOTTOM: 4px; MARGIN: -4px -11px; PADDING-TOP: 4px; BACKGROUND-COLOR: #f3f6fd
}
.win .promotImage {
	MARGIN: -4px -11px
}
.win .winRight {
	FLOAT: right; MARGIN: 8px 8px 0px 0px; FONT: 0.8em verdana
}
.winHomeA {
	BACKGROUND: url(../images/winHomeA_left.gif) #006699 no-repeat
}
.winHomeA H3 {
	BACKGROUND: url(../images/winHomeA_right.gif) #006699 no-repeat right top; COLOR: #7b2e00; BORDER-BOTTOM: #006699 1px solid
}
.winHomeA H3 .remark {
	COLOR: #7b2e00
}
.winHomeA .box {
	BORDER-RIGHT: #006699 1px solid; BORDER-TOP: #006699 1px; BORDER-LEFT: #006699 1px solid; BORDER-BOTTOM: #006699 1px solid; BACKGROUND-COLOR: #fffbef
}
.winHomeB {
	BACKGROUND: url(../images/winSkinALeft.gif) #c0d6e5 no-repeat; WIDTH: 100%
}
.winHomeB H3 {
	FONT-WEIGHT: bold; BACKGROUND: url(../images/winSkinARight.gif) #c0d6e5 no-repeat right top; COLOR: #081b39
}
.winHomeB .box {
	BORDER-RIGHT: #9bbdd3 1px solid; BORDER-TOP: #9bbdd3 1px solid; BORDER-LEFT: #9bbdd3 1px solid; BORDER-BOTTOM: #9bbdd3 1px solid; BACKGROUND-COLOR: #fff
}
.winHomeC H3 {
	BORDER-RIGHT: #bacbe0 1px solid; BORDER-TOP: #bacbe0 1px solid; MARGIN: 0px; BORDER-LEFT: #bacbe0 1px solid; BORDER-BOTTOM: #bacbe0 1px
}
.winHomeC .box {
	BORDER-RIGHT: #bacbe0 1px solid; BORDER-TOP: #bacbe0 1px; BORDER-LEFT: #bacbe0 1px solid; BORDER-BOTTOM: #bacbe0 1px solid
}
.colRR .winHomeB H3 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.colL .winHomeB H3 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.tabsRight {
	FLOAT: right
}
.tabsH {
	CLEAR: both; MARGIN-BOTTOM: 10px
}
.format3 {
	BACKGROUND: url(../images/tabstitle_formatC_skinHome_left.gif) #fafafa no-repeat left top
}
.format3 H3 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(../images/tabstitle_formatC_skinHome_right.gif) #006699 no-repeat right top; PADDING-BOTTOM: 8px; FONT: bold 1em tahoma; MARGIN-LEFT: 1px; COLOR: #7b2e00; PADDING-TOP: 8px; BORDER-BOTTOM: #006699 1px solid
}
.format3 H3 .remark {
	COLOR: #7b2e00
}
.format3 .titleLink {
	PADDING-LEFT: 12px; BACKGROUND: url(../images/tabstitle_button_bg.gif) no-repeat left top; FLOAT: left; MARGIN: 5px 2px 0px 0px; LINE-HEIGHT: 22px
}
.format3 .titleLinkText {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(../images/tabstitle_button_bg.gif) no-repeat right top; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; COLOR: #7b2e00; PADDING-TOP: 0px
}
.format3 .box {
	BORDER-RIGHT: #006699 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #006699 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #006699 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #006699 1px solid
}
.format3 .showPromote {
	MARGIN-BOTTOM: 8px
}
.format3 .showPromote SPAN {
	FONT-SIZE: 11px; MARGIN-BOTTOM: 5px; COLOR: #58585a
}
.format3 .showPromote IMG {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN: 0px 10px 0px 0px; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.format3 .showPromote H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: tahoma
}
.format3 .showPromote UL {
	FLOAT: left; LIST-STYLE-IMAGE: url(../images/homeul_blue.gif); MARGIN: 2px 15px 0px 0px; COLOR: #4372c2
}
.format3 .showPromote LI {
	MARGIN: 4px 0px 4px 15px
}
.format3 .showPromote LI A {
	COLOR: #4372c2
}
.format3 .thumbsPromote UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.format3 .thumbsPromote IMG {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px 5px 0px 0px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 1px solid
}
.format3 .thumbsPromote .miniPromote {
	FLOAT: left; LIST-STYLE-IMAGE: none; LIST-STYLE-TYPE: none
}
.format3 .thumbsPromote .current A {
	BORDER-RIGHT: #006699 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #006699 1px solid; DISPLAY: block; PADDING-LEFT: 2px; BACKGROUND: #fafafa; PADDING-BOTTOM: 2px; MARGIN: 0px 8px 0px 0px; BORDER-LEFT: #006699 1px solid; WIDTH: 133px; PADDING-TOP: 2px; BORDER-BOTTOM: #006699 1px solid; HEIGHT: 30px
}
.format3 .thumbsPromote .current A:visited {
	BORDER-RIGHT: #006699 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #006699 1px solid; DISPLAY: block; PADDING-LEFT: 2px; BACKGROUND: #fafafa; PADDING-BOTTOM: 2px; MARGIN: 0px 8px 0px 0px; BORDER-LEFT: #006699 1px solid; WIDTH: 133px; PADDING-TOP: 2px; BORDER-BOTTOM: #006699 1px solid; HEIGHT: 30px
}
.format3 .thumbsPromote .miniPromote A {
	BORDER-RIGHT: #fffbef 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #fffbef 1px solid; DISPLAY: block; PADDING-LEFT: 2px; BACKGROUND: #fffbef; PADDING-BOTTOM: 2px; MARGIN: 0px 8px 0px 0px; BORDER-LEFT: #fffbef 1px solid; WIDTH: 133px; COLOR: #00339e; PADDING-TOP: 2px; BORDER-BOTTOM: #fffbef 1px solid; HEIGHT: 30px; TEXT-DECORATION: none
}
.format3 .thumbsPromote .miniPromote A:hover {
	BORDER-RIGHT: #006699 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #006699 1px solid; DISPLAY: block; PADDING-LEFT: 2px; BACKGROUND: #fafafa; PADDING-BOTTOM: 2px; MARGIN: 0px 8px 0px 0px; BORDER-LEFT: #006699 1px solid; WIDTH: 133px; PADDING-TOP: 2px; BORDER-BOTTOM: #006699 1px solid; HEIGHT: 30px
}
.format3 .viewAllBlock {
	CLEAR: both; FONT: 10px tahoma; PADDING-TOP: 0px; TEXT-ALIGN: right
}
.format3 .viewAllBlock A {
	FONT-SIZE: 10px; FONT-FAMILY: tahoma; outline: none
}
.mainCategory {
    float:left;
	PADDING-RIGHT: 0px! important;
	PADDING-LEFT: 0px! important;
	PADDING-BOTTOM: 4px! important;
	WIDTH: 178px;
	PADDING-TOP: 4px! important;
}
.mainCategory UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 1em/120% tahoma; WIDTH: 178px; PADDING-TOP: 0px
}
.mainCategory LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 2px 1px; WIDTH: 177px; PADDING-TOP: 0px
}
.mainCategory LI STRONG {
	FONT-SIZE: 1.2em
}
.mainCategory LI A {
	BORDER-RIGHT: #fffbef 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fffbef 2px solid; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: #fffbef 1px solid; WIDTH: 165px; PADDING-TOP: 2px; BORDER-BOTTOM: #fffbef 1px solid
}
.mainCategory LI A:hover {
	BORDER-RIGHT: #ffb74b 1px solid; BORDER-TOP: #006699 2px solid; BORDER-LEFT: #ffb74b 1px solid; BORDER-BOTTOM: #ffb74b 1px solid; BACKGROUND-COLOR: #fff1d1
}
.mainCategory LI.current A {
	BORDER-RIGHT: #ffb74b 1px solid; BORDER-TOP: #006699 2px solid; BORDER-LEFT: #ffb74b 1px solid; BORDER-BOTTOM: #ffb74b 1px solid; BACKGROUND-COLOR: #fff1d1
}
.mainCategory LI A:visited {
	COLOR: #039
}
.ctgPlusItem {
	LEFT: 0px; WIDTH: 190px; POSITION: absolute; TOP: 0px; HEIGHT: 330px
}
.ctgPlusItem .content {
	BORDER-RIGHT: #006699 1px solid; BORDER-TOP: #006699 2px solid; Z-INDEX: 888; BORDER-LEFT: #006699 1px solid; BORDER-BOTTOM: #006699 1px solid; POSITION: absolute; BACKGROUND-COLOR: #fafafa
}
.ctgPlusItem .content .space{
	PADDING-LEFT: 12px
}
.ctgPlusItem .content A {
	BORDER-RIGHT: #fafafa 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fafafa 1px solid; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; BORDER-LEFT: #fafafa 1px solid; WIDTH: 140px; LINE-HEIGHT: 130%; PADDING-TOP: 3px; BORDER-BOTTOM: #fafafa 1px solid
}
.ctgPlusItem .content A:hover {
	BORDER-RIGHT: #ffb74b 1px solid; BORDER-TOP: #ffb74b 1px solid; BORDER-LEFT: #ffb74b 1px solid; BORDER-BOTTOM: #ffb74b 1px solid; BACKGROUND-COLOR: #fff
}
.ctgPlusItem LI A:visited {
	COLOR: #039
}
.ctgPlusItem UL {
	LIST-STYLE-IMAGE: none; MARGIN: 1px; WIDTH: 162px; FONT-FAMILY: tahoma; LIST-STYLE-TYPE: none
}
.divExchangeItem {
	MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 10px; BORDER-BOTTOM: #006699 1px solid; BACKGROUND-COLOR: #fffbef
}
.openCategoryIcon {
	BACKGROUND: url(../images/openCategoryIcon.gif) no-repeat; FLOAT: right; MARGIN: 3px 3px 0px 0px; WIDTH: 26px; HEIGHT: 21px
}
.openCategory {
	WIDTH: 658px; POSITION: absolute; BACKGROUND-COLOR: #fffbef
}
.openCategory .win {
	MARGIN: 0px
}
.openCategory .win .box {
	BORDER-RIGHT: #fe8a27 2px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fe8a27 2px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #fe8a27 2px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #fe8a27 2px solid
}
.openCategory UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.openCategory UL UL {
	CLEAR: both; DISPLAY: block
}
.openCategory LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(../images/openCategoryPoint.gif) repeat-x left bottom; FLOAT: none; PADDING-BOTTOM: 10px; FONT: bold 14px tahoma; COLOR: #7b2e04; PADDING-TOP: 10px
}
.openCategory LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; FONT: lighter 0.82em/150% tahoma; WIDTH: 33.3%; PADDING-TOP: 0px
}
.openCategory LI.openCategoryBg {
	WIDTH: 630px; BACKGROUND-COLOR: #fff3dd
}
.openCategory LI.openCategoryBg A {
	BORDER-RIGHT: #fff3dd 1px solid; BORDER-TOP: #fff3dd 1px solid; BORDER-LEFT: #fff3dd 1px solid; BORDER-BOTTOM: #fff3dd 1px solid
}
.openCategory LI A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.openCategory LI LI A {
	BORDER-RIGHT: #fffbef 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fffbef 1px solid; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 1px; BORDER-LEFT: #fffbef 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #fffbef 1px solid
}
.openCategory LI LI A:hover {
	BORDER-RIGHT: #ffb74b 1px solid; BORDER-TOP: #ffb74b 1px solid; BORDER-LEFT: #ffb74b 1px solid; BORDER-BOTTOM: #ffb74b 1px solid; BACKGROUND-COLOR: #fff
}
.openCategory LI A:visited {
	COLOR: #039
}
.openCategory LI.openCategoryEnd {
	BACKGROUND-IMAGE: none! important
}
.closeCategoryIcon {
	BACKGROUND: url(../images/closeCategoryIcon.gif) no-repeat; FLOAT: right; MARGIN: 3px 3px 0px 0px; WIDTH: 74px; HEIGHT: 21px
}
.aliSearch {
	CLEAR: both; BACKGROUND: url(../images/aliSearch_tabsBg.gif) #f5f8fb repeat-x 50% top
}
.aliSearch UL {
	LIST-STYLE-IMAGE: none; MARGIN: 0px 0px 0px 235px; LIST-STYLE-TYPE: none; HEIGHT: 30px
}
.aliSearch LI {
	BACKGROUND: url(../images/aliSearch_tabsLeft.gif) #d6e5ee no-repeat left top; FLOAT: left; MARGIN-RIGHT: 2px
}
.aliSearch LI A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(../images/aliSearch_tabsRight.gif) #d6e5ee no-repeat right top; PADDING-BOTTOM: 7px; FONT: bold 13px/100% arial; MARGIN-LEFT: 2px; WIDTH: auto; COLOR: #455b80; PADDING-TOP: 7px
}
.aliSearch .searchBox {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; BACKGROUND: url(../images/aliSearch_searchBg.gif) #3f80b1 no-repeat left top; PADDING-BOTTOM: 6px; COLOR: #fff; PADDING-TOP: 6px; TEXT-ALIGN: center
}
.aliSearch .searchBox A {
	COLOR: #fff
}
.aliSearch LI.current {
	BACKGROUND: url(../images/aliSearch_current_tabsLeft.gif) #93c2de no-repeat left top; HEIGHT: 30px
}
.aliSearch LI.current A {
	FONT-WEIGHT: bold; BACKGROUND: url(../images/aliSearch_current_tabsRight.gif) #93c2de no-repeat right top; COLOR: #172e54! important; TEXT-DECORATION: none
}
.aliSearch UL LI A {
	outline: none
}
.aliSearch LI.other {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN-LEFT: 20px
}
.aliSearch LI.other A {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-FAMILY: verdana
}
.homePopSearch {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(../images/aliSearch_popBg.gif) no-repeat 50% top; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
.homePopSearch A {
	MARGIN-LEFT: 5px; MARGIN-RIGHT: 2px
}
.userGuide {
	BORDER-RIGHT: #fdcd74 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fdcd74 1px solid; PADDING-LEFT: 6px; Z-INDEX: 99; BACKGROUND: #fce8b7; LEFT: 0px; MARGIN-BOTTOM: 6px; PADDING-BOTTOM: 6px; BORDER-LEFT: #fdcd74 1px solid; WIDTH: 281px; PADDING-TOP: 6px; BORDER-BOTTOM: #fdcd74 1px solid; POSITION: absolute; TOP: 0px
}
.userGuide .welecome {
	MARGIN-LEFT: 5px
}
.userGuide .welecome A:link {
	COLOR: #7c310a; TEXT-DECORATION: underline
}
.userGuide .welecome A:visited {
	COLOR: #7c310a; TEXT-DECORATION: underline
}
.userGuide .welecome A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
.userGuide .userRecommend {
	FONT: 0.85em verdana; VERTICAL-ALIGN: middle
}
.userGuide .userRecommend A {
	DISPLAY: block; BACKGROUND: url(../images/bg.gif) no-repeat right bottom; FLOAT: left; MARGIN: 4px 2px 0px; WIDTH: 133px; COLOR: #522103; HEIGHT: 39px
}
.userGuide .userRecommend A:link {
	COLOR: #522103; TEXT-DECORATION: none
}
.userGuide .userRecommend A:visited {
	COLOR: #522103; TEXT-DECORATION: none
}
.userGuide .userRecommend A:hover {
	COLOR: #522103; TEXT-DECORATION: none
}
.userGuide .userRecommend A.mouseHover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 42px
}
.userGuide .userRecommend A.mouseHover STRONG {
	HEIGHT: 36px; BORDER-BOTTOM-STYLE: none! important
}
.userGuide .userRecommend STRONG.freeIcon {
	BACKGROUND: url(../images/free_icon.gif) #fff no-repeat right top
}
.userGuide .userRecommend A.singleFile STRONG {
	LINE-HEIGHT: 20px
}
.userGuide .userRecommend A STRONG {
	BORDER-RIGHT: #db7244 1px solid; BORDER-TOP: #ffaf37 1px solid; DISPLAY: block; PADDING-LEFT: 12px; BACKGROUND: #fff; BORDER-LEFT: #ffaf37 1px solid; WIDTH: 118px; PADDING-TOP: 6px; BORDER-BOTTOM: #db7244 1px solid; HEIGHT: 30px
}
.userGuide .userRecommend .userRecommendContent {
	CLEAR: both; BORDER-RIGHT: #db7244 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 12px; BACKGROUND:  #fff no-repeat right top; PADDING-BOTTOM: 8px; FONT: 1.1em tahoma; MARGIN-LEFT: 4px; OVERFLOW: hidden; BORDER-LEFT: #ffaf37 1px solid; WIDTH: 255px; COLOR: #522103; PADDING-TOP: 12px; BORDER-BOTTOM: #db7244 1px solid
}
.userGuide .userRecommend .userRecommendContent A {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: auto; BORDER-BOTTOM-STYLE: none
}
.userGuide .userRecommend .userRecommendContent A:link {
	COLOR: #039; TEXT-DECORATION: underline
}
.userGuide .userRecommend .userRecommendContent A:visited {
	COLOR: #969; TEXT-DECORATION: underline
}
.userGuide .userRecommend .userRecommendContent A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
.userGuide .userRecommend .userRecommendContent A.linkButton {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 8px; FONT-WEIGHT: lighter; FONT-SIZE: 1em; BACKGROUND: url(../images/userRecommendBotton.gif) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 80px; COLOR: #522103; MARGIN-RIGHT: 4px; PADDING-TOP: 5px; HEIGHT: 18px; TEXT-DECORATION: none
}
.userGuide .userRecommend .userRecommendContent A.linkButton:link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 8px; FONT-WEIGHT: lighter; FONT-SIZE: 1em; BACKGROUND: url(../images/userRecommendBotton.gif) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 80px; COLOR: #522103; MARGIN-RIGHT: 4px; PADDING-TOP: 5px; HEIGHT: 18px; TEXT-DECORATION: none
}
.userGuide .userRecommend .userRecommendContent A.linkButton:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 8px; FONT-WEIGHT: lighter; FONT-SIZE: 1em; BACKGROUND: url(../images/userRecommendBotton.gif) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 80px; COLOR: #522103; MARGIN-RIGHT: 4px; PADDING-TOP: 5px; HEIGHT: 18px; TEXT-DECORATION: none
}
.userGuide .userRecommend .userRecommendContent A.linkButton:hover {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 8px; FONT-WEIGHT: lighter; FONT-SIZE: 1em; BACKGROUND: url(../images/userRecommendBotton.gif) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 80px; COLOR: #522103; MARGIN-RIGHT: 4px; PADDING-TOP: 5px; HEIGHT: 18px; TEXT-DECORATION: none
}
.userGuide .userRecommend .rightborder {
	BACKGROUND: url #fff no-repeat left top
}
.bigBuyer {
	BORDER-RIGHT: #ffa931 1px solid; PADDING-RIGHT: 12px; BORDER-TOP: #ffa931 1px solid; MARGIN-TOP: 273px; PADDING-LEFT: 12px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 6px; BORDER-LEFT: #ffa931 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 6px; BORDER-BOTTOM: #ffa931 1px solid
}
.bigBuyer STRONG {
	DISPLAY: block; MARGIN-BOTTOM: 8px; COLOR: #441800
}
.itemViewerItem {
	WIDTH: 265px; HEIGHT: 250px
}
.itemViewerItem DIV {
	WIDTH: 95%; HEIGHT: 95%
}
.productGroupOthersCotainer {
	Z-INDEX: 1; LEFT: 0px; WIDTH: 350px; POSITION: absolute; TOP: 0px; HEIGHT: 2000px
}
.productGroupOthersRind {
	MARGIN: 0px; OVERFLOW: hidden; WIDTH: 260px; POSITION: relative; HEIGHT: 40px
}
.itemViewerNav {
	TEXT-ALIGN: right
}
.itemViewerNav A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #efefef; PADDING-BOTTOM: 0px; MARGIN-LEFT: 3px; PADDING-TOP: 0px
}
.itemViewerNav A.current {
	BACKGROUND: #ccc
}
#mainNav {
	MARGIN-TOP: 10px; FLOAT: right
}
#mainNav UL {
	DISPLAY: inline
}
#mainNav LI {
	DISPLAY: block; BACKGROUND: url(../images/mainNavHome.gif) #ffffdd no-repeat right 50%; FLOAT: left; MARGIN-RIGHT: 4px
}
#mainNav A:link {
	DISPLAY: block; FONT: bold 11px/20px arial; WIDTH: 83px; COLOR: #4e2207; HEIGHT: 21px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#mainNav A:visited {
	DISPLAY: block; FONT: bold 11px/20px arial; WIDTH: 83px; COLOR: #4e2207; HEIGHT: 21px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
DIV.image75-left IMG {
	CLEAR: both; FLOAT: left
}
DIV.image75-left P IMG {
	CLEAR: none; FLOAT: none; WIDTH: auto
}
DIV.image75-left P {
	MARGIN-BOTTOM: 0px; MARGIN-LEFT: 85px! important
}
DIV.image75-left LI IMG {
	CLEAR: none; FLOAT: none; WIDTH: auto! important
}
DIV.image75-left P IMG {
	CLEAR: none; FLOAT: none; WIDTH: auto! important
}
DIV.image75-left UL {
	MARGIN-LEFT: 85px
}
.homeAd {
	MARGIN-BOTTOM: 10px
}
#header {
	BACKGROUND: url(../images/headCap.gif) #fff repeat-x;
	HEIGHT: 140px
}
#aliLogo {
	FLOAT: left; FONT: bold 10px verdana; MARGIN-RIGHT: 15px
}
.header960 {
	MARGIN: auto; WIDTH: 960px
}
.utility {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; FONT: 0.85em verdana; PADDING-TOP: 3px; HEIGHT: 25px; TEXT-ALIGN: right
}
.utility A:link {
	COLOR: #3d5376; TEXT-DECORATION: none
}
.utility A:visited {
	COLOR: #3d5376; TEXT-DECORATION: none
}
.utility A:hover {
	COLOR: #3d5376; TEXT-DECORATION: none
}
#page960 {
	MARGIN: auto; WIDTH: 960px; TEXT-ALIGN: left; min-width: 760px; max-width: 960px
}
.importantNotice {
	WIDTH: 100%; BORDER-BOTTOM: #aca899 1px solid; BACKGROUND-COLOR: #ffffe1; TEXT-ALIGN: center
}
.importantNotice A:link {
	TEXT-DECORATION: underline
}
.colRL {
	FLOAT: left; OVERFLOW: hidden
}
.colR {
	FLOAT: right; OVERFLOW: hidden; POSITION: relative
}
.colRR {
	FLOAT: right; OVERFLOW: hidden; POSITION: relative
}
.frameA#page960 {
	POSITION: relative
}
.frameA#page960 .colL {
	Z-INDEX: 8; LEFT: 0px; WIDTH: 180px; POSITION: absolute; TOP: 130px
}
.frameA#page960 .colR {
	MARGIN-LEFT: -500px; WIDTH: 100%
}
.frameA#page960 .colR .colRmargin {
	MARGIN-BOTTOM: 20px; MARGIN-LEFT: 193px
}
.frameA#page960 .colRL {
	WIDTH: 100%; MARGIN-RIGHT: -303px
}
.frameA#page960 .colRL .colRLmargin {
	MARGIN-RIGHT: 302px
}
.frameA#page960 .colRR {
	WIDTH: 289px
}
#footer {
	CLEAR: both; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 30px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; FONT: 0.85em/14px verdana; PADDING-TOP: 20px; TEXT-ALIGN: center
}
.intelligent {
	DISPLAY: inline; Z-INDEX: 9; POSITION: relative
}
.intelligentList {
	BORDER-RIGHT: #8e8e8e 1px solid; BORDER-TOP: #8e8e8e 1px solid; Z-INDEX: 777; BACKGROUND: #fff; LEFT: 0px; BORDER-LEFT: #8e8e8e 1px solid; WIDTH: 430px; PADDING-TOP: 6px; BORDER-BOTTOM: #8e8e8e 1px solid; POSITION: absolute; TOP: 22px
}
.intelligent INPUT#forsearch {
	PADDING-LEFT: 3px; WIDTH: 149px
}
.intelligentList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.intelligentList {
	BACKGROUND: #fff; WIDTH: 430px; PADDING-TOP: 6px; TEXT-ALIGN: left
}
.intelligentList DIV SPAN {
	FLOAT: right
}
.intelligentList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.intelligentList DIV {
	BORDER-RIGHT: #fff 2px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 2px solid; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; BORDER-LEFT: #fff 2px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 2px solid
}
.intelligentList A {
	PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; COLOR: #000! important; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.intelligentList A SPAN {
	COLOR: green
}
.intelligentList A:visited {
	PADDING-RIGHT: 6px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; COLOR: #000! important; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.intelligentList A:visited SPAN {
	COLOR: green
}
.intelligentList A.current DIV {
	BORDER-RIGHT: #3366cc 2px solid; BORDER-TOP: #3366cc 2px solid; BACKGROUND: #3366cc; BORDER-LEFT: #3366cc 2px solid; COLOR: #fff; BORDER-BOTTOM: #3366cc 2px solid
}
.intelligentList A.current:visited DIV SPAN {
	COLOR: #fff
}
.intelligentList A.current DIV SPAN {
	COLOR: #fff
}
.intelligent .intelligentIframeMask {
	Z-INDEX: 776; BACKGROUND: #fff; LEFT: 0px; WIDTH: 430px; POSITION: absolute; TOP: 28px; HEIGHT: 10px
}
.intelligentList .intelligentListTitle {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 11px; BACKGROUND: #edf1f9; MARGIN: 0px; CURSOR: pointer; COLOR: #4d4d4d; TEXT-INDENT: 5px; BORDER-BOTTOM: #d5e1ee 1px solid; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
.intelligentList .intelligentListTitle SPAN {
	PADDING-RIGHT: 5px; MARGIN-TOP: -19px; DISPLAY: block; BACKGROUND: url(../images/intelligent_upIcon.gif) no-repeat left center; FLOAT: right; TEXT-INDENT: 12px; TEXT-DECORATION: underline
}
.intelligentList .showSearchSuggestion {
	PADDING-LEFT: 14px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(../images/intelligent_downIcon.gif) #edf1f9 no-repeat 3px center; MARGIN-LEFT: 0px; WIDTH: 345px; CURSOR: pointer; COLOR: #4d4d4d; TEXT-INDENT: 5px; BORDER-BOTTOM: #d5e1ee 1px solid; HEIGHT: 20px; TEXT-DECORATION: underline
}
.hotNews {
	LIST-STYLE-TYPE: none
}
.whatnew {
	FONT-WEIGHT: bold; BACKGROUND: url(../images/home_whatnew.gif) no-repeat 39px 0px; FLOAT: left; WIDTH: 83px; COLOR: #602705; HEIGHT: 35px
}
#trsContentId {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 2px; Z-INDEX: 10; PADDING-BOTTOM: 2px; OVERFLOW: hidden; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 100px; PADDING-TOP: 2px; BORDER-BOTTOM: #7f9db9 1px solid; POSITION: absolute; TOP: 18px; HEIGHT: 200px; BACKGROUND-COLOR: #fff
}
#trsContentId A {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #fff 1px solid
}
#trsContentId A:visited {
	COLOR: #000
}
#trsContentId A:hover {
	BORDER-RIGHT: #316ac5 1px solid; BORDER-TOP: #316ac5 1px solid; BORDER-LEFT: #316ac5 1px solid; COLOR: #fff; BORDER-BOTTOM: #316ac5 1px solid; TEXT-DECORATION: none
}
.maskIframe {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; Z-INDEX: 1; BACKGROUND: #fff; FILTER: alpha(opacity=0); LEFT: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 1px; POSITION: absolute; TOP: 0px; HEIGHT: 1px; BORDER-RIGHT-WIDTH: 0px; moz-opacity: 0; opacity: 0
}
